@using BlogWebApp.ViewModels
@model IEnumerable<ArticleViewModel>
@{
    ViewData["Title"] = "Блог";
}

<form method="get" asp-action="Index" class="mb-4">
    <h3>Поиск</h3>
    <input class="search-input" type="text" name="query" placeholder="Найдется почти всё" value="@ViewBag.Query" />
    <button class="btn btn-primary" type="submit">Поиск</button>
</form>

<section class="blog-header">
    <h1>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Query))
        {
            <span>Результаты поиска: “@ViewBag.Query”</span>
        }
        else
        {
            <span>Блог</span>
        }
    </h1>
</section>

<div class="blog-container row">

    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-info mt-3">
            @if (!string.IsNullOrWhiteSpace(ViewBag.Query))
            {
                <span>Ничего не найдено.</span>
            }
            else
            {
                <span>Пока нет ни одного поста.</span>
            }
        </div>
    }
    else
    {
        @foreach (var article in Model)
        {
            <div class="card mb-4">             
                <div class="card-body">
                    <h3>@article.Title</h3>

                    @if (!string.IsNullOrWhiteSpace(article.Image))
                    {
                        <img src="@article.Image" class="card-img-top article-image" />
                    }

                    <p>
                        @(article.Content.Length > 500
                        ? article.Content.Substring(0, 500) + "..."
                        : article.Content)
                    </p>

                    <p>
                        <strong>@article.GenreName</strong> |
                        <strong>@article.CreatedAt.ToShortDateString()</strong>

                        @if (article.UpdatedAt.HasValue)
                        {
                            <span class="text-muted ms-1">
                                (ред. @article.UpdatedAt.Value.ToShortDateString())
                            </span>
                        }
                        |
                        <strong>Лайк:</strong> @article.LikesCount |
                        <strong>Коментов:</strong> @article.CommentsCount
                    </p>

                    

                    <a asp-controller="Article" asp-action="Details" asp-route-id="@article.ArticleViewModelId" 
                        class="btn btn-primary ms-2">
                        Читать далее
                    </a>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}