@using BlogWebApp.ViewModels
@model IEnumerable<ArticleViewModel>
@{
    ViewData["Title"] = "Блог";
}

<form method="get" asp-action="Search">
    <h3>Поиск</h3>
    <input class="search-input" type="text" name="query" placeholder="Найдется почти всё" />
    <button class="btn btn-primary" type="submit">Поиск</button>
</form>

<section class="blog-header">
    <h1>Блог</h1>
</section>

<div class="blog-container row">

    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-info mt-3">
            Пока нет ни одного поста.
        </div>
    }
    else
    {
        @foreach (var article in Model)
        {
            <div class="card mb-4">             
                <div class="card-body">
                    <h3>@article.Title</h3>

                    @if (!string.IsNullOrWhiteSpace(article.Image))
                    {
                        <img src="@article.Image" class="card-img-top article-image" />
                    }

                    <p>
                        @(article.Content.Length > 500
                        ? article.Content.Substring(0, 500) + "..."
                        : article.Content)
                    </p>

                    <p>
                        <strong>@article.GenreName</strong>
                        <strong>@article.CreatedAt.ToShortDateString()</strong>
                        <strong>Лайк:</strong> @article.LikesCount
                        <strong>Коментов:</strong> @article.CommentsCount
                    </p>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="Like"
                              asp-action="ToggleLike"
                              method="post"
                              class="d-inline">

                            <input type="hidden"
                                   name="articleId"
                                   value="@article.ArticleViewModelId" />

                            <button type="submit"
                                    class="btn btn-sm @(article.UserHasLiked ? "btn-danger" : "btn-outline-danger")">
                                @(article.UserHasLiked ? "Убрать лайк" : "Лайк")
                            </button>
                        </form>
                    }
                    else
                    {
                        <p>Чтобы поставить лайк, <a href="@Url.Action("Login", "Account")">войдите в систему</a>.</p>
                    }

                    <a asp-controller="Article" asp-action="Details" asp-route-id="@article.ArticleViewModelId" 
                        class="btn btn-primary">
                        Читать далее
                    </a>
                </div>
            </div>
        }
    }
</div>