@using BlogWebApp.ViewModels
@model IEnumerable<ArticleViewModel>
@{
    ViewData["Title"] = "Блог";
}

<section class="widget">
    <h3>Поиск</h3>
    <input class="search-input" type="text" placeholder="Найдется почти всё" />
    <button class="btn btn-primary" type="submit">Поиск</button>
</section>

<section class="blog-header">
    <h1>Блог</h1>
</section>

<div class="blog-container row">

    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-info mt-3">
            Пока нет ни одного поста.
        </div>
    }
    else
    {
        @foreach (var article in Model)
        {
            <div class="card mb-4">
                @if (!string.IsNullOrWhiteSpace(article.Image))
                {
                    <img src="@article.Image" class="card-img-top" />
                }

                <div class="card-body">
                    <h3>@article.Title</h3>

                    <p>
                        @(article.Content.Length > 500
                        ? article.Content.Substring(0, 500) + "..."
                        : article.Content)
                    </p>

                    <p>
                        <strong>@article.GenreName</strong>
                        <strong>@article.CreatedAt.ToShortDateString()</strong>
                        <strong>Лайк:</strong> @article.LikesCount
                        <strong>Коментов:</strong> @article.CommentsCount
                    </p>

                    <a asp-controller="Article" asp-action="Details" asp-route-id="@article.ArticleViewModelId" 
                        class="btn btn-primary">
                        Читать далее
                    </a>
                </div>
            </div>
        }
    }
</div>